#Ignore everything
*

# Don't ignore these (track them)
!.gitignore
!README.md

# Allow directory structure
!src/
!src/main/
!src/main/java/
!src/main/java/org/
!src/main/java/org/example/

# Track only .class files inside 'example'
!src/main/java/org/example/*.java

# Ignore all other .class files
*.class
